* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("https://firebasestorage.googleapis.com/v0/b/highmos-6b8c4.appspot.com/o/headerImage.jpg?alt=media&token=2de47a10-acf1-4210-8909-d66801721dad");
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero__container {
  max-width: 1200px;
  padding: 24px;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.reservation {
  background-color: #FE5303;
  border: none;
  padding: 12px 24px;
  border-radius: 50px;
  color: white;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 400;
  display: flex;
  align-items: center;
}
.reservation__icon {
  margin-right: 8px;
  font-size: 1.2rem;
}

.main {
  padding: 74px 0;
}
.main__heading {
  font-family: "Playfair Display", serif;
  font-size: 5.2rem;
  font-weight: 700;
}

.adventure {
  text-transform: capitalize;
  color: white;
  display: flex;
  align-items: center;
  font-size: 1.8rem;
}
.adventure__icon {
  margin-left: 12px;
  padding: 10px;
  color: white;
  font-size: 7.2rem;
  border: 1px solid white;
  border-radius: 50%;
}

.booking {
  margin-top: 100px;
}
.booking__form {
  background-color: white;
  color: #222;
  padding: 24px;
  border-radius: 8px;
  display: grid;
  gap: 16px;
}
.booking__label {
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #bdbdbd;
  font-weight: 500;
}
.booking__input, .booking__select {
  display: block;
  width: 100%;
  border: none;
  padding: 8px 0;
  font-weight: 500;
  cursor: pointer;
}
.booking__button {
  background-color: #FE5303;
  padding: 40px;
  border-radius: 8px;
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 12px;
}

.about__container {
  max-width: 1200px;
  padding: 24px;
  margin: 0 auto;
}
.about__name {
  text-transform: uppercase;
  color: #bdbdbd;
  font-weight: 500;
  font-size: 1.6rem;
}
.about__content {
  margin-top: 24px;
  display: grid;
  gap: 48px;
}
.about__left, .about__right {
  display: grid;
  gap: 24px;
}
.about__title {
  font-size: 4rem;
  font-family: "Playfair Display", serif;
  font-weight: 700;
}
.about__p {
  color: #828282;
  font-size: 1.6rem;
}
.about__img {
  border-radius: 8px;
  width: 100%;
}

.accommodation__container {
  max-width: 1200px;
  padding: 24px;
  margin: 0 auto;
}
.accommodation__name {
  text-transform: uppercase;
  color: #bdbdbd;
  font-weight: 500;
  font-size: 1.6rem;
}
.accommodation__header {
  margin-top: 16px;
}
.accommodation__title {
  font-size: 4rem;
  font-family: "Playfair Display", serif;
  font-weight: 700;
}
.accommodation__button {
  color: #FE5303;
  display: flex;
  align-items: center;
}
.accommodation__icon {
  margin-left: 12px;
}

.room__container {
  margin-top: 24px;
  display: grid;
  gap: 48px;
}
.room__card {
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  color: white;
  height: 380px;
}
.room__card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0), black);
  transition: opacity 200ms ease-in-out;
}
.room__card:hover::before {
  opacity: 0;
}
.room__card:hover .room__name {
  transform: translateX(calc(-100% - 24px));
}
.room__card:hover .room__price {
  transform: translateX(calc(-100% - 24px));
}
.room__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.room__details {
  position: absolute;
  bottom: 24px;
  left: 16px;
}
.room__name {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 2.4rem;
  margin-bottom: 12px;
  transition: transform 200ms ease-in-out;
}
.room__price {
  font-weight: 500;
  transition: transform 200ms ease-in-out 100ms;
}

.testimonials {
  background-color: #f2f2f2;
}
.testimonials__container {
  max-width: 1200px;
  padding: 24px;
  margin: 0 auto;
}
.testimonials__name {
  text-transform: uppercase;
  color: #bdbdbd;
  font-weight: 500;
  font-size: 1.6rem;
}
.testimonials__title {
  font-size: 4rem;
  font-family: "Playfair Display", serif;
  font-weight: 700;
}
.testimonials__title strong {
  color: #FE5303;
}

.feedback {
  margin-top: 74px;
  display: grid;
  gap: 48px;
}
.feedback__dialog {
  background-color: white;
  padding: 48px 24px;
  border-radius: 20px 20px 20px 0;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
  font-family: "Playfair Display", serif;
}
.feedback__title {
  font-weight: 700;
  margin-bottom: 16px;
}
.feedback__content {
  color: #4f4f4f;
  line-height: 2.8rem;
}

.user {
  margin-top: 16px;
  display: grid;
  grid-template-columns: 52px 1fr;
  gap: 16px;
}
.user__img {
  width: 100%;
}
.user__name {
  font-weight: 500;
  font-size: 1.6rem;
}
.user__location {
  color: #bdbdbd;
  font-size: 1.2rem;
}

.footer {
  font-family: "Playfair Display", serif;
}
.footer__container {
  max-width: 1200px;
  padding: 24px;
  margin: 0 auto;
}

/*# sourceMappingURL=style.css.map */
