:root {
	--font2: 'Poppins', sans-serif;
	--white: #ffffff;
	--black: #333333;
	--orange: #FE5303;
	--lightgray: #BDBDBD;
	--gray: #828282;
	--background--gray: #F2F2F2;
	--font--gray: #4F4F4F;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-family: 'Playfair Display', serif;
	font-size: 62.5%;
	scroll-behavior: smooth;
}

.u-wrapper {
	width: 92.27%;
	margin: 0 auto;
}

.header {
	background-image: url('/img/headerImage.jpg');
	background-origin: border-box;
	background-size: cover;
	background-position: center;
	padding-bottom: 5rem;
}

.headerTop {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 8.4rem;
}

.headerLogo {
	width: 9.6rem;
	height: 2.2rem;
}

.headerButton {
	display: flex;
	align-items: center;
	width: auto;
	height: 3.8rem;
	border-radius: 5.2rem;
	background-color: var(--orange);
	font-family: var(--font2);
	font-size: 1rem;
	font-weight: 600;
	color: var(--white);
	border: none;
	padding: 0 2.5rem;
}

.headerButton__svg {
	width: 1.6rem;
	height: 1.7rem;
	padding-right: .3rem;
}

.header__title {
	font-size: 5.2rem;
	font-weight: 700;
	color: var(--white);
	margin: 6.9rem 0 4rem;
}

.adventure{
	display: flex;
	align-items: center;
	font-family: var(--font2);
	font-size: 1.6rem;
	font-weight: 500;
	color: var(--white);
	background: transparent;
	border: none;
	margin-bottom: 10rem;
}

.adventure__img {
	width: 7.2rem;
	height: 7.2rem;
	margin-left: 1.6rem;
}

.booking__container {
	background-color: var(--white);
	color: var(--black);
	padding: 2.4rem;
	border-radius: .8rem;
	display: grid;
	gap: 1.6rem;
	margin-bottom: 1.6rem;
}

.booking__label {
	font-size: .75rem;
	text-transform: uppercase;
	color: var(--lightgray);
	font-weight: 500;
}

.booking__input {
	display: block;
	width: 100%;
	border: none;
	padding: .8rem 0;
}

.booking__button {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--orange);
	width: 18rem;
	height: 9.2rem;
	font-family: var(--font2);
	font-size: 1.6rem;
	font-weight: 700;
	color: var(--white);
	border: none;
	border-radius: 1.2rem;
}

/* About */

.about {
	padding: 5rem 0;
}

.about__subtitle {
	font-family: var(--font2);
	font-size: 1.6rem;
	font-weight: 600;
	margin-bottom: 3.6rem;
	color: var(--lightgray);
}

.about__title {
	font-size: 4.8rem;
	font-weight: 700;
	margin-bottom: 3rem;
	color: var(--black);
}

.about__paragraph {
	font-family: var(--font2);
	font-size: 1.6rem;
	font-weight: 400;
	margin-bottom: 3rem;
	color: var(--gray);
}

.about__img {
	width: 100%;
	height: auto;
	margin-bottom: 3rem;
}

/* Accommodations */

.accommodations {
	padding: 5rem 0;
}

.accommodations__subtitle {
	font-family: var(--font2);
	font-size: 1.6rem;
	font-weight: 600;
	color: var(--lightgray);
	margin-bottom: 2rem;
}

.accommodations__title {
	font-size: 4.8rem;
	font-weight: 700;
	margin-bottom: 1.6rem;
	color: var(--black);
}

.accommodations__see {
	display: flex;
	align-self: center;
	font-family: var(--font2);
	font-size: 1.8rem;
	font-weight: 500;
	color: var(--orange);
	margin-bottom: 4rem;
}

.accommodations__arrow {
	width: 2.4rem;
	height: 2.4rem;
	margin-left: 1.5rem;
}

.card__container{
	display: grid;
	grid-template: 
	"a" 33rem
	"b" 33rem
	"c" 33rem
	"d" 33rem
	"e" 33rem / 1fr;
	gap: 5rem;
} 

.a {
	grid-area: a;
	background-image: url('/img/roomImg1.jpg');
	background-origin: border-box;
	background-size: cover;
	background-position: center;
}

.b {
	grid-area: b;
	background-image: url('/img/roomImg2.jpg');
	background-origin: border-box;
	background-size: cover;
	background-position: center;
}

.c {
	grid-area: c;
	background-image: url('/img/roomImg3.jpg');
	background-origin: border-box;
	background-size: cover;
	background-position: center;
}

.d {
	grid-area: d;
	background-image: url('/img/roomImg4.jpg');
	background-origin: border-box;
	background-size: cover;
	background-position: center;
}

.e {
	grid-area: e;
	background-image: url('/img/roomImg5.jpg');
	background-origin: border-box;
	background-size: cover;
	background-position: center;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	border-radius: .8rem;
	padding: 5% 6.5%;
}

.card__title {
	font-size: 2.4rem;
	font-weight: 700;
	color: var(--white);
	margin-bottom: 1rem;
}

.card__text {
	display: flex;
	align-items: flex-end;
}

.card__price {
	font-family: var(--font2);
	font-size: 1.8rem;
	font-weight: 700;
	color: var(--white);
	margin-right: .5rem;
}

.card__night {
	font-family: var(--font2);
	font-size: 1.2rem;
	font-weight: 500;
	color: var(--white);
} 

/* Accomodation */

.accomodation {
	background-color: var(--background--gray);
	padding: 5rem 0;
}

.accomodation__subtitle {
	text-transform: uppercase;
	font-family: var(--font2);
	font-size: 1.6rem;
	font-weight: 600;
	color: var(--lightgray);
	margin-bottom: 1.2rem;
}

.accomodation__title {
	font-size: 4.8rem;
	font-weight: 700;
	color: var(--black);
}

.orange {
	color: var(--orange);
}

.comment {
	margin-top: 5rem;
}

.comment__top {
	background-color: var(--white);
	border-radius: 2rem 2rem 2rem 0;
	padding: 3.2rem 2.9rem 9.5rem;
	margin-bottom: 2.4rem;
}

.comment__title {
	font-size: 1.8rem;
	font-weight: 700;
	color: var(--black);
	margin-bottom: 2.4rem;
}

.comment__text {
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 2.88rem;
	color: var(--font--gray);
}

.comment__bottom {
	display: flex;
}

.comment__img {
	width: 5.2rem;
	height: 5.2rem;
	margin-right: 2.2rem;
}

.comment__details {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.comment__name {
	font-family: var(--font2);
	font-size: 1.6rem;
	font-weight: 500;
	color: var(--black);
}

.comment__country {
	font-family: var(--font2);
	font-size: 1.2rem;
	font-weight: 500;
	color: var(--lightgray);
}

.footer {
	display: flex;
	align-items: center;
	padding: 5rem 0;
}

.footer__designed {
	font-size: 1.6rem;
	font-weight: 700;
	color: var(--orange);
	text-decoration: none;
	margin-right: .5rem;
}

.footer__site {
	font-size: 1.6rem;
	font-weight: 400;
	color: var(--black);
	text-decoration: none;
}